@font-face {
    font-family: workSans;
    src: url('../fonts/WorkSans-VariableFont_wght.ttf');
}

// COLORS
$color-white: rgba(255,255,255);
$color-white_transparent: rgba(255,255,255,0.1);
$color-dark_2e2e2e: #2e2e2e;
$color-dark_867772: #867772;
$color-light_ebccc2: #ebccc2;
$color-light_234-204-194: rgb(234, 204, 194);
$color-light_115-115-115: rgb(115, 115, 115);
